---
// Component Imports
import Card from '../components/Card.astro';
import Main from '../layouts/main.astro';

const res = await fetch('https://wooqlaw.com/en-pk/api/LawyerSearchsListing/GetPaginatedItems?CountryId=1&CurrentIndex=1&RowsPerPage=10&UsePagination=True');
const data = await res.json();
const lawyers =  data.items;
---

<Main title="Home">
	<div class="flex w-full flex-col gap-3 opacity-100 max-w-3xl mx-auto py-3">
		{lawyers.map((i) => <Card lawyer={i} /> )}
	</div>
</Main>
